@import 'coloresw8';
@import 'functions';

// general tables styles
.table-root {
  margin-top: 10px;
  font-size: 12px;
  font-weight: 500;
  background-color: $white_background;
  line-height: 16px;
  color: #333333;
  width: 100%;
}

.table-root {
  .table-header {
    background-color: $white_background;
    min-height: 40px;
    vertical-align: middle;
    padding: 8px 17px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    font-weight: 700;

    &.table-header-secondary {
      background-color: $cf_gris_table_hover;
      color: $subtitle_color;
      :nth-child(1) {
        font-weight: 700;
      }
      &:hover {
        background-color: $cf_gris_table_hover;
      }
    }

    &.with-background {
      background-color: $secondary-btn-background;
      color: white;
      border: 1px solid $corporativo-secundario;
    }

    &.with-borders{
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
    }

    &.table-footer {
      border-bottom: none;
    }

    &.flex-row {
      display: flex;
      gap: 12px;
      align-items: flex-start;

      & > .flex-column {
        display: flex;
        flex: 1;
        width: 0;

        &.right {
          justify-content: right;
        }
      }

      @for $i from 2 through 8 {
        & > .flex-column-#{$i} {
          flex: $i;
          width: 0;
        }
      }
    }
  }
  .table-row {
    background-color: $white_background;
    min-height: 44px;
    vertical-align: middle;
    padding: 8px 17px;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    &:hover {
        background-color: #f4f4f4;
    }

    &.with-borders {
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
    }

    &.edit-payment-row {
      background-color: $content_bg_color;
      display: block;
    }

    &.payment-assignations-row {
      background-color: $content_bg_color;
      padding: 16px 8px;
    }

    &.flex-row {
      display: flex;
      gap: 12px;

      & > .flex-column {
        flex: 1;
        width: 0;

        &.right {
          justify-content: right;
        }
      }

      @for $i from 2 through 8 {
        & > .flex-column-#{$i} {
          flex: $i;
          width: 0;
        }
      }
    }
  }

  &.overflow-x-auto {
    display: block;
    overflow-x: auto;
  }
}
.table-root {
  &.align-top {
    tr th {
      vertical-align: top;
    }
    tr td {
      vertical-align: top;
      white-space: normal;
    }
    td.buttons {
      min-width: 100%;
      padding: 0px 22px;
    }

    td.custom-buttons {
      padding: 10px 22px;
    }
  }
  tr th {
    background-color: $white_background;
    height: 40px;
    vertical-align: middle;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    font-weight: 700;
    white-space: nowrap;
  }
  tr td {
    height: 44px;
    vertical-align: middle;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    white-space: nowrap;
  }
  tbody tr td {
    vertical-align: middle;
  }
  tr:hover {
    background-color: #f4f4f4;
  }

  th:first-of-type,
  tr td:first-of-type {
    padding-left: 32px;
  }
  th:last-of-type,
  tr td:last-of-type {
    padding-right: 32px;
  }
}

// table root dependant classes
.table-root {
  .actions {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    & a {
      min-width: 24px;
    }
  }
  th:first-of-type,
  tr td:first-of-type {
    padding-left: 32px;
  }
  th:last-of-type,
  tr td:last-of-type {
    padding-right: 32px;
  }
  .secondary-header {
    background-color: #e2e2e4;
  }
  .display-contents {
    display: contents;
  }
  td.employees-image {
    img {
      max-width: 70px;
      max-height: 70px;
      padding: 4px;
      border: 1px solid #dcdada;
      object-fit: cover;
      aspect-ratio: 1/1;
      border-radius: 50%;
    }
  }
  a,
  input,
  label {
    color: #333333;
    font-size: 12px;
    font-weight: 500;
  }
  .btn-success {
    color: #fff !important;
  }
}

/// bills table specific styles
.property-detail-actions {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 2px 0 12px 0;
}

.table-actions-column {
  width: min-content;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  flex-grow: 1;
}

// marks table specific styles
.table-marks-header {
  padding: 12px 32px !important;
}

.table-marks-content {
  padding: 8px 32px !important;
}

.table-marks-overconsumed-content {
  padding: 8px 32px !important;
  background-color: #ffe9ea !important;
}

.table-empty {
  font-size: 14px;
  color: #a94442;
}

.table-root .table-row-secondary {
  background-color: $border-gray;
  color: $black_font;
  font-size: 12px;
  font-weight: 700;

  &:hover {
    background-color: $border-gray;
  }

  .fa {
    color: $white_background;
    font-size: 16px;
    margin-right: 10px;
  }
}

.table-row-white-background {
  background-color: $cf_blanco_tabla !important;
  padding: 10px 0 0 0;
}

.custom-table-btn {
  padding: 8px;
}

.custom-table-icon {
  font-size: 14px;
  font-weight: 500;
}

.grouped-payments-table {
  background-color: $border-gray;
  color: $white_background;
  &:hover {
    background-color: $border-gray;
  }
}

/// service billings specific styles
.service-billings-table {
  & .table-header-secondary {
    background-color: $cf_gris_table_hover;
    color: $subtitle_color;
    :nth-child(1) {
      font-weight: 700;
    }
    &:hover {
      background-color: $cf_gris_table_hover;
    }
  }
  & .table-header-tertiary {
    background-color: $cf_blanco_tabla;
  }
  & a {
    color: $subtitle_color;
  }
  .vertical-align {
    float: none;
    display: flex;
    align-items: center;
    gap: 7px;
    & > input {
      margin: 0;
    }
  }
}

/// Supliers specific stytles
.supliers-table {
  & a {
    color: #333333;
  }
}

// fines specific styles
.table-fines-header {
  padding: 12px 32px !important;
}

.table-fines-content {
  padding: 8px 32px !important;
  .form-control {
    box-sizing: border-box;
    width: 90%;
  }
}

.table-fines-form {
  .form-control {
    text-align: right;
    float: right;
    box-sizing: border-box;
    width: 70%;
  }
}

// property fines specific styles
.table-property-fines-header {
  padding: 12px 32px;
}

.table-property-fines-content {
  tr {
    padding: 8px 32px;
  }
}

// remunerations specific styles
.remunerations-table {
  a,
  input,
  .form-control {
    color: #333333;
  }
}

.remunerations-table.fixed-columns {
  tr th:nth-of-type(1),
  tr td:nth-of-type(1) {
    position: sticky;
    left: 0;
    background-color: $white_background;
  }
  tr:hover td:nth-of-type(1) {
    background-color: #f4f4f4;
  }
}

// community transactions specific styles
.community_transactions_table {
  .input-group {
    width: 120px;
  }

  tr {
    border-bottom: 1px solid #ddd;
  }

  a,
  input,
  option,
  select {
    color: #333333;
  }
}



// salary payments specific styles
.salary-payments-table {
  a,
  input {
    color: #333333;
  }
  .form-buttons {
    display: flex;
    gap: 8px;
    align-items: center;
  }
}

.table-header-buttons {
  display: flex;
  gap: 5px;
  justify-content: end;
  padding: 10px;
}

// funds transactions specific styles
.table-root.funds-table {
  tr.detail {
    background-color: $white_background;
  }
  tr:hover {
    background-color: #f4f4f4;
  }
  tr.summary {
    background-color: #e2e2e4;
    font-weight: 700;
  }
  tr.close-row:hover {
    background-color: #f4f4f4;
    cursor: pointer;
  }

  tr.subtitle {
    font-style: normal;
  }
}

.table-root.summary-funds {
  .secondary-header {
    background-color: #e2e2e4;
    font-weight: 700;
  }
}

.bugets-table {
  a {
    color: #333333;
    font-size: 12px;
    font-weight: 500;
  }
}

// common expenses specific styles
.table-root.common-expenses-table {
  th {
    font-weight: 500;
  }
  .bold {
    font-weight: 700;
  }
  & a {
    color: #333333;
  }
}

// properties specific styles
.table-root.properties-table {
  a,
  input,
  label {
    color: #333333;
    font-size: 12px;
    font-weight: 500;
  }
  label {
    margin: 0;
  }
}

/// property dashboard specific styles
.statement-table {
  overflow-y: scroll;

  .table-title {
    font-size: 16px;
    color: #333;
    text-align: center;
    font-weight: 500;
    margin-bottom: 20px;
  }
}

// incomes specific styles
.incomes-table {
  th:first-of-type,
  tr td:first-of-type {
    padding-left: 32px;
  }
  th:last-of-type,
  tr td:last-of-type {
    padding-right: 32px;
  }
}

// installations specific styles
.installations-table {
  a {
    color: #333333;
  }
}

// maintances specific styles
.maintances-table {
  a {
    color: #333333;
  }
  .form {
    width: 100%;
  }
}

// issues specific styles
.issues-table {
  a {
    color: #333333;
  }
}

// no period bills properties table specific styles
table.table-root.no-period-bills-properties-table {
  th.checkbox-cell,
  td.checkbox-cell
  {
    width: 1px;
  }

  td.collapsed-row {
    padding: 0;
    height: 0;
    border: none;

    .property-details {
      background: $hover_row;
      padding: 0 13px 11px 13px;

      .property-details-link { margin-top: 11px }
    }
  }
}

.checkbox-col {
  width: 25px;
  text-align: center;

  @include media-down(xs) {
    display: none;
  }
}

.checkbox-side-col {
  width: calc(100% - 25px);
  display: flex;
  align-items: center;

  @include media-down(xs) {
    width: 100%;
  }
}

#new-table-padding {
  div[class^='col-sm'], div[class*=' col-sm'], div[class^='col-xs'], div[class*=' col-xs']{
    padding: 0 6px;
  }
}
