@import "coloresw8";

.advances-text {
  font-weight: 500;
}

.advances-file-button {
  background-color: white !important;
}

.inline-file-upload {
  display: flex;
  align-items: center;
}

.file-name-form-control {
  width: 120px !important;
  display: flex !important;
}

@media (min-width: 1305px) {
  .count-div {
    width: 2%;
  }
}

@media (max-width: 1305px) {
  .count-div {
    width: 3%;
  }
}

.advances-actions {
  width: 25%;
}
