= render(ModalComponent.new(id: 'missing_salary_payments')) do |modal|
  - modal.with_body do
    .modal-body.no-padding
      .modal-padding
        %h5= I18n.t('views.remunerations.employees.alert_missing_payments', month: @cur_month_name, year: @year)
      %ul#missing_names{ style: 'margin-bottom: 24px; font-weight: 500; color: #757575' }
  - modal.with_footer do
    .col-sm-6
      .btn.btn-default.btn-block{ id: 'cancelBtn', data: { dismiss: 'modal' } }
        = t('views.bills.index.modal.cancel')
    .col-sm-6
      %a{ href: get_previred_remuneration_employees_path(:txt, month: @month, year: @year), id: 'download_button', data-dismiss="modal" target="_blank" }
        .btn.btn-green-cf.btn-block
          = 'Descargar de todas formas'

:javascript
  function showModal(missing_employees) {
    let names = JSON.parse(missing_employees);

    htmlToAppend = "";
    for (i in names) {
      htmlToAppend = htmlToAppend.concat("<li>" + names[i] + "</li>")
    }

    document.getElementById('missing_names').innerHTML = htmlToAppend;

    $('#missing_salary_payments').modal();

    $('#download_button').click(function() {
      $('#missing_salary_payments').modal('hide');
    })
  }
