.input-icons
  %i.fa.fa-info-circle{ title: title, data: { toggle: 'tooltip' }, style: 'display: inline-block' }
  %input{ type: type, value: value, id: id, name: name, class: 'form-control input-sm' }

