= render(ModalComponent.new(id: 'destroy_business_transaction')) do |modal|
  - modal.with_body do
    %p.modal-text.bold.center
      = t('messages.warnings.properties.confirm_delete_business_transactions').html_safe
  - modal.with_footer do
    .col-sm-6.col-xs-12
      %button.btn.btn-default.btn-cancel.btn-block.modal-btn{ 'aria-label': 'Close', 'data-dismiss': 'modal', type: 'button' }
        = t('views.bills.index.modal.cancel')
    .col-sm-6.col-xs-12
      %a#link-to-destroy-business-transaction
        %button.btn.btn-red-cf.btn-block
          = t('models.business_transaction.delete')

:javascript
  function prepareDestroyBusinessTransactionUrl(path) {
    document.getElementById('link-to-destroy-business-transaction').href = path;
  }
