@import "coloresw8";

.bills-summary {
  padding-top: 10px;
  padding-bottom: 10px;

  .red-circle {
    color: $warning-red;
  }

  .blue-circle {
    color: $primary-btn-color;
  }

  .black-circle {
    color: $cf-light-black;
  }

  .description {
    font-weight: 500;
    font-size: 12px;
    display: inline;
    margin: 10px;
  }
}