@import "coloresw8";

.bills-summary {
  .red-circle {
    color: $warning-red;
  }

  .blue-circle {
    color: $primary-btn-color;
  }

  .description {
    font-weight: 500;
    font-size: 12px;
  }
}